
# Habilitar el motor de reescritura
RewriteEngine On

# Si el archivo o directorio solicitado no existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todas las peticiones a index.php
RewriteRule ^(.*)$ index.php [QSA,L]

# Desactivar la firma del servidor
ServerSignature Off

# Establecer el charset por defecto
AddDefaultCharset UTF-8

# Prevenir listado de directorios
Options -Indexes

# Establecer el tipo MIME para los archivos JSON
AddType application/json .json

# Permitir conexiones cross-origin
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
Header set Access-Control-Allow-Headers "Content-Type, Authorization"
